<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visão Computacional</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="titleprin">
                <h2>Aplicação prática de Redes Convolucionais</h2>
            </div>
            <div class="container2">
                <div class="input">
                    <div>
                        <h1>Escolha uma imagem</h1>
                    </div>
                    <div>
                        <input type="file" />
                    </div>
                </div>
                <div class="output">
                    <div>
                        <h1>Escolha o modelo que você quer usar</h1>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>