<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visão Computacional</title>
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="titleprin">
                <h2>Aplicação prática de Redes Convolucionais</h2>
            </div>
            <div class="container2">
                <form action="/predict" method="post" enctype="multipart/form-data">
                    <div class="input">
                        <div>
                            <h1>Escolha uma imagem</h1>
                        </div>
                        <div>
                            <input type="file" name="image" accept="image/*" required />
                        </div>
                    </div>
                    <div class="output">
                        <div>
                            <h1>Escolha o modelo que você quer usar</h1>
                            <div>
                                <select name="model" required>
                                    <option value="linear">Linear</option>
                                    <option value="convolucional">Convolucional</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
                {% if prediction is not none %}
                <div class="prediction-result">
                    <h2>Resultado da Predição: {{ prediction }}</h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
